<p style="color: green"><%= notice %></p>

<div>
  <h2>Login</h2>
  <%= form_with url: login_path do |form| %>
    Email: <%= form.email_field :email%>
    Password: <%= form.password_field :password %>
    <%= form.submit "Login" %>
  <% end %>
</div>