<p style="color: green"><%= notice %></p>

<%= render @post %>
<%= render "posts/comments", post: @post %>

<div>
  <%= link_to "Editar", edit_post_path(@post) %> |
  <%= link_to "Voltar", posts_path %>

  <%= button_to "Deletar", @post, method: :delete, class: "btn btn-danger mt-3" %>
</div>
